<div class="container">
<h4>Welcome to Tealuxe...</h4>

<p>Since 1995 the mission at Tealuxe has been to bring our customers the finest teas from around the world. We carefully select our teas for freshness, quality and taste. Take home the Tealuxe experience with a tin of loose tea or sit back and savor a cup of fresh brewed tea at one of our cafes. We hope you enjoy your Tealuxe tea as much as we do.</p>

<strong>Free UPS ground shipping for orders over $50!!!</strong>

<img src="resources/static/pic/TealuxeMothersDay2016.png" class="ui image huge" />
</div>
